
<div class="header-wrap">
  <div class="header-fixed">
    <div class="header-bg"></div>
    <div class="header-cnt"><a class="header-logo" href="index.html"><img class="header-logo-desktop" src="./assets/img/logo.png" alt=""/><img class="header-logo-scroll" src="./assets/img/logo.png" alt=""/></a>
      <div class="header-cnt-list">
        <ul class="header-list">
          <li class="header-item"><a class="header-link active" href="index.html">HOME</a></li>
          <li class="header-item"><a class="header-link" href="la-feria.html">LA FERIA</a></li>
          <li class="header-item"><a class="header-link" href="participantes.html">PARTICIPANTES</a></li>
          <li class="header-item"><a class="header-link" href="galeria.html">GALERÍA</a></li>
          <!--li.header-itema.header-link(href="capacitaciones.html") CAPACITACIONES
          -->
          <li class="header-item"><a class="header-link" href="concursos.html">CONCURSOS</a></li>
          <!--li.header-itema.header-link(href="inscripcion.html") INSCRIPCIÓN
          -->
        </ul>
        <div class="header-des">
          <div class="header-languages-select">
            <ul class="redes-box">
              <li class="header-item-social"><a href="https://www.facebook.com/MakroPeru/" target="_blank"><i class="icon-facebook-logo"></i></a></li>
              <li class="header-item-social"><a href="https://www.youtube.com/channel/UC6iSLAnXS_-QMRy02811Xgg" target="_blank"><i class="icon-youtube3"></i></a></li>
              <li class="header-item-social"><a href="https://www.instagram.com/makro_peru/" target="_blank"><i class="icon-instagram-logo"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu-mobile-open icon-menu"></div>
<div class="menu-mobile-close icon-close"></div>
<div class="header-menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>