
<footer class="footer" role="contentinfo">
  <div class="footer__section">
    <div class="aliados__content__box">
      <h3>ALIADOS FERIA HORECA</h3>
      <div class="box__images__aliados">
        <div class="box__one__alidos"><img class="img-fluid" src="./assets/img/aliado-1.png" width="120" height="61" alt="makro-logo"/></div>
        <div class="box__one__alidos"><img class="img-fluid" src="./assets/img/aliado-2.png" width="120" height="61" alt="makro-logo"/></div>
        <div class="box__one__alidos"><img class="img-fluid" src="./assets/img/aliado-3.png" width="120" height="61" alt="makro-logo"/></div>
        <div class="box__one__alidos"><img class="img-fluid" src="./assets/img/aliado-4.png" width="120" height="61" alt="makro-logo"/></div>
        <div class="box__one__alidos"><img class="img-fluid" src="./assets/img/aliado-5.png" width="120" height="61" alt="makro-logo"/></div>
        <div class="box__one__alidos"><img class="img-fluid" src="./assets/img/aliado-6.png" width="120" height="61" alt="makro-logo"/></div>
      </div>
    </div>
    <div class="footer__logo__img">
      <div class="footer__box__makro">
        <h3>© 2018 makro - Todos los derechos reservados</h3>
      </div>
      <div class="footer__img__logo"><img class="img-fluid" src="./assets/img/logo-footer.png" width="120" height="61" alt="makro-logo"/></div>
    </div>
  </div>
</footer>