.cf {
  zoom: 1; }
  .cf:before {
    content: "";
    display: table; }
  .cf:after {
    clear: both; }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg"), url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Lh-it';
  src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans extrb';
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans it';
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans Sb';
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Ebit';
  src: url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans smib';
  src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans boldit';
  src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans regular';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans lh';
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ykr3qh");
  src: url("../fonts/icomoon.eot?ykr3qh#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ykr3qh") format("truetype"), url("../fonts/icomoon.woff?ykr3qh") format("woff"), url("../fonts/icomoon.svg?ykr3qh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-youtube3:before {
  content: "\e903"; }

.icon-instagram-logo:before {
  content: "\e904"; }

.icon-facebook-logo:before {
  content: "\e905"; }

.icon-Flecha-retroceder:before {
  content: "\e900"; }

.icon-Flecha-avanzar:before {
  content: "\e901"; }

.icon-Flecha-abajo:before {
  content: "\e902"; }

.icon-Restaurant:before {
  content: "\e906"; }

.icon-Pasteleria:before {
  content: "\e907"; }

.icon-Bebidas:before {
  content: "\e908"; }

.icon-Instagramflecha:before {
  content: "\e909"; }

.icon-megusta:before {
  content: "\e90a"; }

.icon-icono-instagram:before {
  content: "\e90b"; }

.icon-icono-comentarios:before {
  content: "\e90c"; }

.icon-youtube2:before {
  content: "\e90d"; }

.icon-instagram2:before {
  content: "\e90e"; }

.icon-facebook:before {
  content: "\e90f"; }

.icon-icono-salir:before {
  content: "\e910"; }

.icon-icono-play:before {
  content: "\e911"; }

.icon-icono-menu:before {
  content: "\e912"; }

.icon-envelope:before {
  content: "\e61d"; }

.icon-close:before {
  content: "\e605"; }

.icon-social-facebook:before {
  content: "\e603"; }

.icon-social-twitter:before {
  content: "\e604"; }

.icon-menu:before {
  content: "\e602"; }

.icon-arrow-right:before {
  content: "\e606"; }

.icon-arrow-left:before {
  content: "\e607"; }

.icon-arrow-down:before {
  content: "\e608"; }

.icon-arrow-up:before {
  content: "\e609"; }

.icon-search:before {
  content: "\e612"; }

.icon-location:before {
  content: "\e600"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-whatsapp:before {
  content: "\ea93"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-phone:before {
  content: "\e60a";
  color: #444; }

.icon-youtube:before {
  content: "\e601"; }

/*!
 * Bootstrap v4.0.0-beta (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
  * Correct `inline-block` display not defined in IE 8/9.
  */
audio,
canvas,
video {
  display: inline-block; }

/**
  * Prevent modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address styling not present in IE 8/9.
  */
[hidden] {
  display: none; }

/* ==========================================================================
    Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS text size adjust after orientation change, without disabling
  *    user zoom.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* ==========================================================================
    Links
    ========================================================================== */
/**
  * Address `outline` inconsistency between Chrome and other browsers.
  */
a:focus {
  outline: thin dotted; }

/**
  * Improve readability when focused and also mouse hovered in all browsers.
  */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
    Typography
    ========================================================================== */
/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari 5, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Address styling not present in IE 8/9, Safari 5, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari 5 and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
  * Address styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Correct font family set oddly in Safari 5 and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
  * Improve readability of pre-formatted text in all browsers.
  */
pre {
  white-space: pre-wrap; }

/**
  * Set consistent quote types.
  */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
    Embedded content
    ========================================================================== */
/**
  * Remove border when inside `a` element in IE 8/9.
  */
img {
  border: 0; }

/**
  * Correct overflow displayed oddly in IE 9.
  */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
    Figures
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari 5.
  */
figure {
  margin: 0; }

/* ==========================================================================
    Forms
    ========================================================================== */
/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * 1. Correct font family not being inherited in all browsers.
  * 2. Correct font size not being inherited in all browsers.
  * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
  */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
button,
input {
  line-height: normal; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
  * Correct `select` style inheritance in Firefox 4+ and Opera.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *    `input` and others.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9.
  * 2. Remove excess padding in IE 8/9.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  *    (include `-moz` to future-proof).
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
  * Remove inner padding and search cancel button in Safari 5 and Chrome
  * on OS X.
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * 1. Remove default vertical scrollbar in IE 8/9.
  * 2. Improve readability and alignment in all browsers.
  */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
    Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* default */
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
h7 p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu,
details {
  margin: auto;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu {
  display: block; }

html,
body {
  height: 100%; }

body {
  font-family: Verdana; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h2 {
  margin: 0 0 10px;
  font-size: 38px;
  line-height: 1;
  font-weight: bold; }

h3 {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1; }

h4 {
  padding: 0;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1; }

h5 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold; }

h6 {
  font-size: 16px;
  font-size: 18px;
  line-height: 1; }

a img {
  border: none; }

p {
  margin: 0 0 15px; }

li {
  list-style: none; }

em,
cite {
  font-style: normal; }

strong {
  font-weight: bold; }

label {
  cursor: pointer; }

textarea {
  font-family: Arial, sans-serif;
  resize: none; }

input[type="submit"] {
  cursor: pointer; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal; }

table,
th,
td {
  vertical-align: middle; }

br {
  line-height: 1; }

img {
  width: 100%;
  height: auto; }

.wrapper {
  overflow: hidden; }

.btn-enlace {
  font-size: 13px;
  font-family: "Open Sans it", sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  padding: 13px 50px 13px 30px; }
  .btn-enlace:before {
    content: '\e93e';
    font-size: 10px;
    font-family: "icomoon";
    position: absolute;
    right: 3em;
    padding: 0px 1px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
  @media screen and (min-width: 1025px) {
    .btn-enlace:hover {
      color: #fff; }
      .btn-enlace:hover:before {
        -webkit-transform: translateX(4px);
                transform: translateX(4px);
        color: #fff; } }

.btn-red {
  background-color: #DE0000;
  color: #fff; }

.btn-gray {
  background-color: #2B292B;
  color: #fff; }

.btn-productos {
  width: 180px;
  height: 44px;
  line-height: 22px;
  color: #808285;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  border-radius: 30px;
  border-color: #808285; }
  @media screen and (min-width: 1025px) {
    .btn-productos:hover {
      background-color: #DE0000;
      color: #fff;
      border-color: #DE0000; }
      .btn-productos:hover .text-btn {
        color: #fff;
        opacity: 0;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
        -webkit-animation-name: hvr-icon-drop;
                animation-name: hvr-icon-drop;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); } }
  .btn-productos .text-btn {
    display: inline-block;
    font-size: 13px;
    font-family: "Open Sans it", sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding-right: 20px; }
    .btn-productos .text-btn:before {
      content: '\e93e';
      position: absolute;
      opacity: 1;
      right: 0;
      top: 0;
      font-family: "icomoon";
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      font-size: 10px;
      line-height: 2; }

@-webkit-keyframes hvr-icon-drop {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1; } }

@keyframes hvr-icon-drop {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1; } }

.div-example {
  height: 2000px;
  width: 100%;
  background: red; }

.header-wrap {
  position: relative;
  height: 70px;
  position: fixed;
  z-index: 101;
  width: 100%;
  top: 0; }

.header-fixed {
  top: 0px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background: #da272e;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

.header-bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #da272e;
  top: -100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

.header-fixed.scrolling {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  height: 70px; }
  .header-fixed.scrolling .header-bg {
    top: 0; }
  .header-fixed.scrolling .header-link {
    color: #F2F2F2; }
  .header-fixed.scrolling .header-languages-select select {
    color: #F2F2F2; }
  .header-fixed.scrolling .header-languages-select:before {
    color: #F2F2F2; }
  .header-fixed.scrolling .header-logo-desktop {
    opacity: 0;
    visibility: hidden; }
  .header-fixed.scrolling .header-logo-scroll {
    width: 80%;
    opacity: 1;
    visibility: visible; }

.header-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.redes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-item-social a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  color: #da272e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  margin: 5px; }

.header-logo {
  max-width: 100px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 20px; }
  .header-logo img {
    display: block;
    height: auto;
    width: 100px; }
  .header-logo .header-logo-desktop {
    opacity: 1;
    visibility: visible; }
  .header-logo .header-logo-scroll {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 0;
    top: 0; }

.header-cnt-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .header-list .header-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 22px; }
    .header-list .header-item:lastt-child {
      margin-right: 0; }
  .header-list .header-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-family: "Open Sans regular", sans-serif;
    text-decoration: inherit;
    position: relative;
    padding-bottom: 7px; }
    .header-list .header-link:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: white;
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out; }
  .header-list .header-link:hover {
    color: white;
    text-decoration: inherit !important; }
    .header-list .header-link:hover:before {
      width: 70%; }
  .header-list .header-link.active {
    color: #fff;
    text-decoration: inherit; }

.header-fixed.scrolling .header-link:hover {
  color: white;
  text-decoration: inherit !important; }
  .header-fixed.scrolling .header-link:hover:before {
    width: 70%; }

.header-fixed.scrolling .header-link.active {
  color: #fff;
  text-decoration: inherit; }

.header-languages {
  padding-left: 20px;
  position: relative; }
  .header-languages:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: #808285; }

.header-languages-select {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .header-languages-select select {
    width: 80px;
    border: none;
    border-radius: none;
    background: none;
    color: #fff;
    font-family: "Open Sans regular", sans-serif;
    font-size: 13px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer; }
  .header-languages-select option {
    color: #808285; }

.menu-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  z-index: 1500;
  right: -100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 5px 0 20px 0; }

.menu-sidebar-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.menu-sidebar.active {
  right: 0; }

.header-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.header-menu-overlay.active {
  opacity: .6;
  visibility: visible;
  z-index: 1400; }

.menu-sidebar .menu-responsive {
  display: block;
  margin-top: 20px; }

.menu-sidebar .header-item {
  display: block; }

.menu-sidebar .header-link {
  display: block;
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  color: #DE0000;
  text-decoration: inherit; }

.menu-sidebar .header-languages-select {
  padding-left: 30px;
  margin-top: 20px; }

.menu-sidebar .header-languages-select select {
  color: #808285;
  font-size: 14px;
  width: 90px; }

.menu-sidebar .header-languages-select:before {
  color: #808285; }

.menu-sidebar {
  background: #f1f1f1; }
  .menu-sidebar .header-link.active {
    color: #da272e; }
  .menu-sidebar .header-link {
    color: #808285; }

.responsive-logo {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 20px; }
  .responsive-logo img {
    display: block;
    width: 30%;
    height: auto; }
  .responsive-logo .header-logo-desktop {
    display: none; }
  .responsive-logo .header-logo-scroll {
    display: block; }

.menu-mobile-close, .menu-mobile-open {
  background: #ffffff;
  border-radius: 7%;
  color: #db272e;
  cursor: pointer;
  font-size: 23px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  position: fixed;
  right: 10px;
  text-align: center;
  top: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: none; }

.menu-mobile-open {
  opacity: 1;
  visibility: visible;
  z-index: 1010; }

.menu-mobile-open.active {
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.menu-mobile-close {
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background: #808285;
  color: #fff; }

.menu-mobile-close.active {
  visibility: visible;
  opacity: 1;
  right: 20px;
  z-index: 1520;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

body.active {
  overflow: hidden; }

@media screen and (max-width: 1200px) {
  .header-list {
    padding-left: 165px; } }

@media screen and (max-width: 1024px) {
  .header-cnt-list {
    display: none; }
  .header-languages {
    display: none; }
  .header-fixed {
    height: 70px; }
  .header-fixed.scrolling .header-logo-scroll {
    width: 100%; }
  .header-fixed.scrolling .header-logo {
    max-width: 100px; }
  .header-logo {
    max-width: 100%; }
  .menu-mobile-close, .menu-mobile-open {
    display: block; }
  .header-fixed.scrolling {
    height: 70px; } }

@media screen and (max-width: 640px) {
  .responsive-logo {
    display: none; } }

.footer {
  background: #da272e;
  height: 75px; }

.box__one__alidos {
  margin-left: 16px; }
  .box__one__alidos img {
    width: 100%;
    height: auto;
    max-width: 100%; }

.aliados__content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.box__one__alidos {
  width: 65px;
  height: auto;
  max-width: 100%; }

.box__images__aliados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__img__logo {
  width: 110px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%; }
  .footer__img__logo img {
    max-width: 100%;
    height: auto; }

.footer__logo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px; }

.box__aliados__white {
  background: white;
  padding: 13px; }

.aliados__content__box {
  padding-left: 15px; }
  .aliados__content__box h3 {
    font-size: 12px;
    color: white;
    font-family: "Open Sans it", sans-serif;
    margin: auto; }

.footer__box__makro h3 {
  font-size: 12px;
  color: white;
  font-family: "Open Sans it", sans-serif;
  margin: auto; }

@media screen and (max-width: 980px) {
  .footer__section {
    height: auto; }
  .footer {
    height: auto; }
  .footer__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .aliados__content__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__logo__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .aliados__content__box {
    padding-top: 20px; }
  .box__images__aliados {
    padding-top: 20px; }
  .footer__logo__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__box__makro {
    padding-top: 22px;
    padding-bottom: 22px; }
  .box__one__alidos {
    margin-right: 20px; }
    .box__one__alidos:first-child {
      margin-right: 0;
      margin-left: 0; }
    .box__one__alidos:last-child {
      margin-right: 0;
      margin-left: 0; }
  .footer__box__makro {
    width: 100%;
    text-align: center; }
  .aliados__content__box {
    padding-left: 0; } }

@media screen and (max-width: 550px) {
  .box__one__alidos {
    width: 17%;
    margin-left: 2px; }
  .box__images__aliados {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .box__one__alidos {
    margin-left: 0px;
    margin-right: 2px;
    width: 26%; }
    .box__one__alidos:first-child {
      margin-right: 3px;
      margin-left: 0px; }
    .box__one__alidos:last-child {
      margin-right: 0;
      margin-left: 0px; } }

.mapcontacto a {
  color: inherit; }
  .mapcontacto a:focus {
    outline: none; }

.mapcontacto .cnt-map {
  text-align: center; }
  .mapcontacto .cnt-map .box-map {
    width: 100%;
    height: 350px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .mapcontacto .cnt-map .map {
    width: 100%;
    height: 100%; }
  .mapcontacto .cnt-map .abrir-map, .mapcontacto .cnt-map .cerrar-map {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    background: c-1;
    color: blanco;
    font-family: t-2;
    border-radius: 5px;
    padding: 0 30px;
    display: none; }
    .mapcontacto .cnt-map .abrir-map:hover, .mapcontacto .cnt-map .cerrar-map:hover {
      background: c-1; }
  .mapcontacto .cnt-map .cerrar-map {
    position: absolute;
    left: 10px;
    bottom: 30px;
    z-index: 100; }

.tabcontacto {
  max-width: 1150px;
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px; }

.contac-nav {
  width: 50%;
  background: #fff;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 65px;
  position: relative;
  margin-top: -255px; }
  .contac-nav h2 {
    font-size: 28px;
    font-family: "Open Sans Bold", sans-serif;
    color: #58595b;
    margin-bottom: 30px; }

.contac-padding {
  padding: 0px 75px; }

.contact-tex {
  font-size: 16px;
  text-align: center;
  color: #808285; }

.contact-tabs {
  margin-top: 45px;
  text-align: center; }
  .contact-tabs a {
    text-decoration: none;
    color: #58595b;
    font-size: 16px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding-bottom: 25px;
    border-bottom: 3px solid transparent; }
    .contact-tabs a:hover, .contact-tabs a.active {
      color: #DE0000;
      border-bottom: 3px solid #DE0000; }
  .contact-tabs a:nth-child(2) {
    margin: 0 90px; }

.contc-info {
  padding-bottom: 65px;
  padding-top: 65px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0; }
  .contc-info.active {
    opacity: 1;
    position: relative;
    visibility: visible; }

.contact-itm {
  display: block;
  margin-bottom: 35px;
  text-align: left; }
  .contact-itm a, .contact-itm p {
    color: #808285;
    display: block;
    height: 20px;
    font-size: 15px;
    text-transform: none;
    text-decoration: none;
    padding-left: 50px;
    position: relative; }
    .contact-itm a:before, .contact-itm p:before {
      color: #DE0000;
      font-weight: bold; }
  .contact-itm:nth-child(1) a:before {
    content: '\e90e';
    font-family: "icomoon";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px; }
  .contact-itm:nth-child(2) a:before {
    content: '\e90b';
    font-family: "icomoon";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px; }
  .contact-itm:nth-child(3) p:before {
    content: '\e941';
    font-family: "icomoon";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px; }

.contacredes {
  background: #f9f9f9;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 75px;
  text-align: left; }
  .contacredes span {
    font-size: 16px;
    color: #808285; }
  .contacredes a {
    color: #808285;
    font-size: 20px;
    text-decoration: none; }
    .contacredes a:hover {
      color: #DE0000; }

.contac-form {
  width: 44%;
  margin-left: 6%;
  padding-top: 45px; }
  .contac-form li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

.contac-input {
  width: 45%;
  margin-bottom: 45px; }
  .contac-input -webkit-input-placeholder {
    color: #808285;
    font-family: "Open Sans regular", sans-serif; }
  .contac-input -moz-placeholder {
    color: #808285;
    font-family: "Open Sans regular", sans-serif; }
  .contac-input -moz-placeholder {
    color: #808285;
    font-family: "Open Sans regular", sans-serif; }
  .contac-input -ms-input-placeholder {
    color: #808285;
    font-family: "Open Sans regular", sans-serif; }
  .contac-input input, .contac-input textarea {
    font-size: 14px;
    color: #808285;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #808285; }
  .contac-input:first-child {
    margin-right: 10%; }

.contactextarea {
  width: 100%;
  margin-right: 0 !important; }
  .contactextarea textarea {
    width: 100%;
    height: 100px; }

@media screen and (max-width: 1024px) {
  .tabcontacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contac-nav {
    width: 100%; }
  .contac-form {
    width: 100%;
    margin-left: 0; }
  .contac-nav h2 {
    font-size: 25px;
    text-align: center; } }

@media screen and (max-width: 640px) {
  .contac-padding {
    padding: 0 20px; }
  .contact-tabs a:nth-child(2) {
    margin: 0 20px; }
  .contacredes {
    padding: 0px 20px; } }

.home__banner {
  position: relative;
  overflow: hidden; }

.home__banner__content .bx-wrapper .bx-pager {
  bottom: 110px;
  /* z-index: 55; */
  left: 17px;
  position: absolute;
  text-align: center;
  right: 0;
  text-align: center;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.home__banner__content .bx-pager-item {
  display: inline-block;
  margin: 2px; }
  .home__banner__content .bx-pager-item a {
    border-radius: 50%;
    display: block;
    font-size: 0;
    height: 10px;
    background: white;
    width: 10px; }

.home__banner__content .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: blue !important;
  background: #db272e !important; }

.home__banner__content .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: white; }

.home__banner__content {
  overflow: hidden;
  background: #db272e; }

.bx-wrapper {
  height: calc(100vh - 75px); }
  .bx-wrapper .bx-viewport {
    height: inherit !important; }
    .bx-wrapper .bx-viewport .home__content__box {
      height: inherit !important; }
      .bx-wrapper .bx-viewport .home__content__box li {
        height: inherit !important; }

.home__content__item {
  width: 100%;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }

.home__title__sub-2 h3 {
  font-family: "Open Sans Ebit", sans-serif;
  color: white;
  font-size: 57px;
  text-transform: uppercase; }

.home__title__sub h3 {
  font-family: "Open Sans Ebit", sans-serif;
  color: white;
  font-size: 70px;
  text-transform: uppercase; }

.button__gral a {
  color: white;
  display: inline-block;
  padding: 9px 20px;
  border-radius: 23px;
  background: #da272e;
  font-family: "Open Sans Bold", sans-serif;
  border: 1px solid #da272e;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  font-weight: bold; }
  @media screen and (min-width: 1024px) {
    .button__gral a:hover {
      color: #da272e;
      background: white;
      border: 1px solid white; } }

.home__title__asesor h3 {
  font-size: 45px;
  font-family: "Open Sans regular", sans-serif;
  color: white; }

.home__title__asesor h2 {
  font-family: "Open Sans regular", sans-serif;
  font-size: 45px;
  color: white; }

.home__title__asesor h4 {
  font-family: "Open Sans regular", sans-serif;
  font-size: 30px;
  color: white; }

.home__title__asesor p {
  color: white;
  font-size: 12px;
  font-family: "Open Sans Sb", sans-serif; }

.home__content__item.active .home__banner__title {
  -webkit-transform: translate(0px);
          transform: translate(0px);
  opacity: 1; }

.home__content__item.active .home__banner__button {
  -webkit-transform: translate(0px);
          transform: translate(0px);
  opacity: 1; }

.home__banner__title {
  -webkit-transform: translate(50px);
          transform: translate(50px);
  opacity: 0;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out; }

.home__banner__button {
  -webkit-transition: all 950ms ease-out;
  transition: all 950ms ease-out;
  opacity: 0;
  margin-top: 35px;
  -webkit-transform: translate(50px);
          transform: translate(50px); }

.home__box__container {
  max-width: 1000px;
  padding-right: 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.home__box__text {
  max-width: 600px;
  margin-right: 0;
  text-align: right;
  margin-left: auto; }

.prospecta__whstapp {
  position: relative; }

.prospecta__icono {
  position: fixed;
  z-index: 88;
  bottom: 39px;
  right: 19px;
  font-size: 65px;
  background: #cccecf;
  margin: auto;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease; }
  .prospecta__icono:hover {
    -webkit-box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.75); }

.icono-watspp {
  font-size: 45px;
  color: white; }

@media screen and (max-width: 1024px) {
  .home__box__container {
    padding-left: 20px; }
  .home__title__sub h3 {
    font-size: 60px; }
  .home__title__asesor h3 {
    font-size: 40px; }
  .home__title__asesor h2 {
    font-size: 40px; }
  .home__title__asesor h4 {
    font-size: 30px; } }

@media screen and (max-width: 1080px) {
  .home__content__item {
    background-position: center; } }

@media screen and (max-width: 1024px) {
  .home__content__item {
    height: 790px; } }

@media screen and (max-height: 800px) {
  height: 980px; }

@media screen and (max-width: 980px) {
  .home__box__container {
    padding-right: 5%; } }

@media screen and (max-width: 769px) {
  .home__box__text {
    text-align: center; }
  .home__box__container {
    padding-right: 0; }
  .home__banner__content .bx-wrapper .bx-pager {
    bottom: 20px;
    left: 0; }
  .home__content__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .home__content__item {
    position: relative; }
    .home__content__item:before {
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(21, 21, 21, 0.69);
      position: absolute; }
  .home__title__asesor h3 {
    font-size: 28px; }
  .home__title__asesor h2 {
    font-size: 28px; }
  .home__banner {
    position: relative; }
    .home__banner:before {
      content: none; }
  .home__box__container {
    padding-left: 0; } }

@media screen and (max-width: 550px) {
  .home__title__sub h3 {
    font-size: 40px; }
  .home__content__item {
    height: 80vh; }
  .home__title__asesor h4 {
    font-size: 20px; }
  .home__title__sub-2 h3 {
    font-size: 30px; } }

.la-feria {
  overflow: hidden;
  margin-top: 80px; }

.feria__wrapp {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px; }

.home__video__bgc {
  width: 100%;
  height: 233px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .home__video__bgc:before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(217, 39, 45, 0.57);
    position: absolute;
    border-radius: 20px; }
  .home__video__bgc:after {
    content: "\e911";
    position: absolute;
    height: 78px;
    width: 78px;
    border: 3px solid white;
    font-family: icomoon;
    font-size: 78px;
    border-radius: 50%;
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }

.mapcontacto iframe {
  width: 100%; }

.home-title__video {
  margin-top: 12px; }
  .home-title__video h2 {
    font-size: 15px;
    margin: auto;
    color: #d7272d;
    font-family: "Open Sans Bold", sans-serif; }
  .home-title__video h3 {
    font-size: 15px;
    color: #808285;
    font-family: "Open Sans regular", sans-serif; }

.feria__info {
  margin-top: 83px; }

.feria__title_general {
  text-align: center; }
  .feria__title_general .feria__title {
    position: relative;
    display: inline-block; }
    .feria__title_general .feria__title h3 {
      font-size: 34px;
      font-family: "Open Sans Bold", sans-serif;
      color: #DE0000;
      margin: auto;
      padding-left: 8px;
      padding-right: 8px; }
    .feria__title_general .feria__title:before {
      content: "";
      left: 100%;
      width: 70px;
      height: 2px;
      position: absolute;
      background: #DE0000;
      top: 0;
      bottom: 0;
      margin: auto; }
    .feria__title_general .feria__title:after {
      content: "";
      right: 100%;
      width: 70px;
      height: 2px;
      position: absolute;
      background: #DE0000;
      top: 0;
      bottom: 0;
      margin: auto; }

.feria__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 62px; }

.feria__box__text {
  width: 40%; }
  .feria__box__text p {
    font-size: 15px;
    text-align: justify;
    color: #808285;
    font-family: "Open Sans regular", sans-serif;
    line-height: 1.6; }

.feria__box__video {
  width: 60%; }

.home__box__video {
  max-width: 400px;
  margin: auto; }

.feria__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.feria__info__text {
  text-align: center;
  width: 46%; }

.feria__info__wd h2 {
  font-size: 35px;
  margin: auto;
  font-family: "Open Sans regular", sans-serif;
  color: #da272e; }

.feria__info__wd h3 {
  font-size: 35px;
  margin: auto;
  color: #5f6062;
  font-family: "Open Sans Bold", sans-serif;
  padding-top: 5px; }
  .feria__info__wd h3 span {
    font-size: 20px;
    font-family: "Open Sans regular", sans-serif;
    display: block;
    color: #808285;
    padding-top: 5px; }

.feria__info__wd h4 {
  color: #da272e;
  font-size: 20px;
  font-family: "Open Sans regular", sans-serif; }

.feria__info__wh h2 {
  font-size: 35px;
  margin: auto;
  font-family: "Open Sans regular", sans-serif;
  color: #da272e;
  padding-bottom: 10px; }

.feria__info__wh h3 {
  font-size: 29px;
  color: #5f6062;
  font-family: "Open Sans Bold", sans-serif; }
  .feria__info__wh h3 span {
    font-size: 22px;
    color: #808285;
    font-family: "Open Sans regular", sans-serif;
    display: block;
    padding-top: 5px; }

.feria__concurse__text {
  max-width: 467px;
  margin: auto;
  padding-top: 58px; }
  .feria__concurse__text p {
    font-size: 15px;
    color: #808285;
    line-height: 1.6;
    font-family: "Open Sans regular", sans-serif;
    text-align: center; }

.feria__concurse {
  margin-top: 100px; }

.buttom__more {
  text-align: center;
  margin-top: 25px; }
  .buttom__more h3 {
    color: #d9272d;
    font-size: 14px;
    font-family: "Open Sans regular", sans-serif; }
  .buttom__more span {
    color: #d9272d; }

.feria__product__concurse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.feria__product__section {
  width: 30%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px; }

.feria__product__section span {
  font-size: 60px;
  color: #5f6062; }

.feria__product__section h2 {
  font-size: 34px;
  font-family: "Open Sans Bold", sans-serif;
  color: #5f6062;
  margin-bottom: 21px; }

.feria__product__section p {
  font-size: 14px;
  color: #808285;
  line-height: 1.6; }

.buttom__more {
  display: block; }

.feria__more-general {
  margin-top: 55px; }

.feria__product__concurse {
  margin-top: 89px; }

.feria__view__more {
  margin-top: 63px;
  margin-bottom: 80px; }

.feria__ktchen__image, .feria__cake__image, .feria_drink__image {
  padding-bottom: 20px; }

.button__more__gral {
  text-align: center; }

.feria__button__general__info {
  text-align: center; }

.feria__video__responsive {
  display: none; }

.button__general__info__box {
  display: inline-block; }
  .button__general__info__box a {
    background: #d9272d;
    border: 1px solid #d9272d;
    color: white;
    padding: 12px 24px;
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease;
    border-radius: 16px; }
    @media screen and (min-width: 1024px) {
      .button__general__info__box a:hover {
        background: white;
        border: 1px solid #d9272d;
        color: #d9272d; } }

@media screen and (max-width: 980px) {
  .feria__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 33px; }
  .feria__box__video {
    display: none; }
  .feria__product__section {
    width: 100%; }
  .feria__info__wh {
    margin-top: 28px; }
    .feria__info__wh h2 {
      font-size: 28px; }
    .feria__info__wh h3 {
      font-size: 20px; }
      .feria__info__wh h3 span {
        font-size: 18px;
        margin-top: 5px; }
  .feria__about {
    margin-top: 30px; }
  .feria__more-general {
    margin-top: 30px; }
  .feria__video__responsive {
    display: block;
    width: 100%;
    margin-top: 30px; }
    .feria__video__responsive .feria__box__video {
      margin: auto; }
  .feria__box__text p {
    text-align: center; }
  .feria__box__text {
    width: 100%;
    max-width: 100%;
    margin: auto; }
  .feria__info__text {
    width: 100%; }
  .feria__info__wd h2 {
    font-size: 28px; }
  .feria__info__wd h3 {
    font-size: 25px; }
    .feria__info__wd h3 span {
      font-size: 20px; }
  .feria__info__wd h4 {
    font-size: 20px; }
  .buttom__more {
    margin-top: 30px; }
  .feria__product__concurse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .feria__concurse__text {
    padding-top: 30px; }
  .feria__product__concurse {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .feria__product__concurse {
    margin-top: 30px; }
  .feria__product__section {
    margin-bottom: 20px; }
  .buttom__more--responsive {
    display: block; } }

@media screen and (max-width: 480px) {
  .feria__info__wd h4 {
    font-size: 14px; }
  .feria__title_general .feria__title:after {
    width: 40px; }
  .feria__title_general .feria__title:before {
    width: 40px; } }

.general__input .general__input__input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none;
  border: 1px solid #808285;
  color: #808285;
  font-size: 12px;
  font-family: "Open Sans regular", sans-serif;
  border-radius: 18px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.5px; }

.general__input .general__input__input::-webkit-input-placeholder {
  color: #808285;
  font-family: "Open Sans regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  font-size: 10px !important; }

.general__input .general__input__input::-moz-placeholder {
  color: #808285;
  font-family: "Open Sans regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  font-size: 10px !important; }

.general__input .general__input__input::-ms-input-placeholder {
  color: #808285;
  font-family: "Open Sans regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  font-size: 10px !important; }

.general__input .general__input__input::placeholder {
  color: #808285;
  font-family: "Open Sans regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  font-size: 10px !important; }

.general__input--white .general__input__title {
  color: #fff; }

.general__input--white .general__input__input {
  color: #fff;
  border: 1px solid #fff; }

.general__input--white .general__input__input::-webkit-input-placeholder {
  color: #fff; }

.general__input--white .general__input__input::-moz-placeholder {
  color: #fff; }

.general__input--white .general__input__input::-ms-input-placeholder {
  color: #fff; }

.general__input--white .general__input__input::placeholder {
  color: #fff; }

.general__input--white .general__input__ico {
  color: #fff; }

.general__input--white option {
  color: #2B292B; }

.general__input--white .general__input__button {
  color: #fff; }

.general__input--transparent .general__input__title {
  color: #fff; }

.general__input--transparent .general__input__input {
  color: #fff;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: all .15s linear;
  transition: all .15s linear; }
  .general__input--transparent .general__input__input:focus {
    border: 1px solid #fff; }

.general__input--transparent .general__input__input::-webkit-input-placeholder {
  color: #fff; }

.general__input--transparent .general__input__input::-moz-placeholder {
  color: #fff; }

.general__input--transparent .general__input__input::-ms-input-placeholder {
  color: #fff; }

.general__input--transparent .general__input__input::placeholder {
  color: #fff; }

.general__input--transparent .general__input__ico {
  color: #fff; }

.general__input--transparent option {
  color: #2B292B; }

.general__input--transparent .general__input__button {
  color: #fff; }

.general__input--textarea .general__input__input {
  height: 150px;
  line-height: 1.1;
  padding-top: 10px; }

.general__input--select {
  position: relative; }
  .general__input--select select {
    padding-right: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative; }
    .general__input--select select::-ms-expand {
      display: none; }

.general__input__title {
  display: block;
  cursor: auto;
  font-size: 12px;
  margin-bottom: 10px;
  color: #808285; }

.general__input--center {
  text-align: center; }
  .general__input--center .general__input__title {
    text-align: center; }
  .general__input--center .general__input__input {
    text-align: center; }

.general__input__inside {
  position: relative; }

.general__input__ico {
  display: block;
  position: absolute;
  top: 0;
  font-size: 30px;
  line-height: 50px;
  pointer-events: none;
  z-index: 2;
  color: #808285; }

.general__input__ico__left {
  left: 10px; }

.general__input__ico__right {
  right: 10px; }

.general__input__icon--left .general__input__input {
  padding-left: 45px; }

.general__input__icon--right .general__input__input {
  padding-right: 45px; }

.general__input__icon--all .general__input__input {
  padding-right: 35px;
  padding-left: 35px; }

.general__input__button--right .general__input__button__right {
  position: absolute;
  top: 0;
  right: 0; }

.general__input__button--right .general__input__input {
  padding-right: 50px; }

.general__input__button {
  line-height: 50px;
  border: none;
  background: none;
  padding: 0;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #808285; }

.general__input__icon--right--type1 .general__input__input {
  padding-right: 56px; }

.general__input__icon--right--type1 .general__input__ico__right {
  right: 0;
  width: 50px;
  text-align: center;
  font-size: 20px;
  color: #808285;
  background: rgba(154, 178, 191, 0.3); }

.general__input__file {
  position: relative; }
  .general__input__file input[type="file"] {
    display: none; }

.general__input__file__label {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-bottom: 0;
  border: 1px solid #808285;
  border-radius: 3px;
  padding: 0 20px;
  overflow: hidden; }

.general__input__file__text {
  color: #808285;
  font-family: "Open Sans regular", sans-serif;
  font-size: 14px;
  letter-spacing: 1.05px; }

.general__input__file__ico {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
  pointer-events: none;
  z-index: 2;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(154, 178, 191, 0.3); }

.general__input__file__ico--text {
  display: block;
  font-size: 14px;
  font-family: "Open Sans Bold", sans-serif;
  color: #2B292B;
  text-transform: uppercase;
  letter-spacing: 1.05px; }

.general__input__file__ico--ico {
  display: none;
  line-height: 50px; }

@media screen and (max-width: 1024px) {
  .general__input__file__ico--ico {
    display: block; }
  .general__input__file__ico--text {
    display: none; }
  .general__input__file__ico {
    padding: 0 18px; }
  .general__input__file__label {
    padding-right: 65px; } }

.general__input--check--radio input[type="checkbox"], .general__input--check--radio input[type="radio"] {
  display: none; }

.general__input--check--radio--label {
  display: inline-block; }

.general__input__inside__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.general__input__figure {
  position: relative; }
  .general__input__figure:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; }
  .general__input__figure:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; }

.general__input__text {
  font-size: 14px;
  letter-spacing: 1px;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #808285; }

.general__input--radio .general__input__figure {
  width: 15px;
  height: 15px; }
  .general__input--radio .general__input__figure:before {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid #808285;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .general__input--radio .general__input__figure:after {
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background: #808285;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }

.general__input--check--radio input[type="radio"]:checked + .general__input--check--radio--label .general__input__figure:after {
  opacity: 1;
  visibility: visible; }

.general__input--checkbox .general__input__figure {
  width: 15px;
  height: 15px; }
  .general__input--checkbox .general__input__figure:before {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #808285;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .general__input--checkbox .general__input__figure:after {
    content: "\e902";
    font-family: "icomoon";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    text-align: center;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    font-size: 6px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }

.general__input--check--radio input[type="checkbox"]:checked + .general__input--check--radio--label .general__input__figure:after {
  opacity: 1;
  visibility: visible; }

.general__input--checkbox--white .general__input__figure:before {
  border: 1px solid #fff; }

.general__input--checkbox--white .general__input__figure:after {
  color: #fff; }

.general__input--checkbox--white .general__input__text {
  color: #fff; }

.general__input--radio--white .general__input__figure:before {
  border: 1px solid #fff; }

.general__input--radio--white .general__input__figure:after {
  background: #fff; }

.general__input--radio--white .general__input__text {
  color: #fff; }

@media screen and (max-width: 1024px) {
  .general__input .general__input__input {
    height: 45px;
    line-height: 45px; }
  .general__input__button {
    line-height: 45px; }
  .general__input--textarea .general__input__input {
    height: 80px;
    line-height: 1.1; }
  .general__input__title {
    font-size: 16px; }
  .general__input__icon--right--type1 .general__input__ico__right {
    line-height: 45px; }
  .general__input__file__label {
    height: 45px;
    line-height: 45px; }
  .general__input__file__ico {
    line-height: 45px; }
  .general__input__file__ico--ico {
    line-height: 45px; } }

@media screen and (max-width: 767px) {
  .general__input .general__input__input {
    height: 40px;
    line-height: 40px; }
  .general__input--textarea .general__input__input {
    height: 80px;
    line-height: 1.1; }
  .general__input__button {
    line-height: 40px; }
  .general__input__ico {
    line-height: 40px; }
  .general__input__icon--right--type1 .general__input__ico__right {
    line-height: 40px; }
  .general__input__title {
    font-size: 14px; }
  .general__input .general__input__input::-webkit-input-placeholder {
    font-size: 13px; }
  .general__input .general__input__input::-moz-placeholder {
    font-size: 13px; }
  .general__input .general__input__input::-ms-input-placeholder {
    font-size: 13px; }
  .general__input .general__input__input::placeholder {
    font-size: 13px; }
  .general__input__file__label {
    line-height: 40px;
    height: 40px; }
  .general__input__file__ico {
    line-height: 40px; }
  .general__input__file__ico--ico {
    line-height: 40px; } }

.terms-condition {
  margin-top: 125px; }

.process__general__gray .feria__title_general .feria__title h3 {
  color: #808285; }

.process__general__gray .feria__title_general .feria__title:before {
  background: #808285;
  width: 30px; }

.process__general__gray .feria__title_general .feria__title:after {
  background: #808285;
  width: 30px; }

.process {
  margin-bottom: 170px; }

.box__auspicio__img {
  width: 114px;
  height: 15px; }

.process__wrap {
  max-width: 560px;
  margin: auto;
  margin-top: 150px;
  padding-left: 15px;
  padding-right: 15px; }
  .process__wrap .process__general__gray {
    margin-bottom: 50px; }

.general__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.input__box--cont {
  width: 50%; }

.errorgeneral {
  display: block;
  text-align: center;
  color: #d9272d;
  margin-top: 10px;
  font-size: 12px; }

.input__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.input__box {
  margin-bottom: 20px; }

.form__general {
  margin-top: 21px; }

.button__next {
  text-align: center; }

.steps {
  margin-bottom: 57px;
  margin-top: 110px;
  padding-top: 70px; }

.steps__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.steps__button {
  display: inline-block;
  background: #b6b6b6;
  margin-left: 2px; }
  .steps__button p {
    margin: 3px;
    color: white;
    display: block;
    padding: 4px; }
  .steps__button:first-child {
    margin-left: 0; }

.error {
  color: #d9272d;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.steps {
  margin-top: 100px; }

.steps__two {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

.steps__one {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; }
  .steps__one.active {
    background: #d9272d; }

.steps__tree {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

.button__next button {
  padding: 10px 38px;
  border-radius: 18px;
  background: #d9272d;
  border: none;
  color: white; }

.button__send {
  text-align: center; }
  .button__send button {
    padding: 10px 38px;
    border-radius: 18px;
    background: #d7272d;
    border: none;
    color: white; }

.process-2 .process__wrap {
  margin-bottom: 218px;
  padding-left: 15px;
  padding-right: 15px; }

.process-2__box {
  margin-top: 50px; }
  .process-2__box .process__general__gray {
    margin-bottom: 50px; }

.steps__button.active {
  background: #d9272d; }

.box__select {
  margin-bottom: 25px; }

.thanks__box {
  max-width: 850px;
  margin-bottom: 20px; }
  .thanks__box p {
    line-height: 1.5;
    margin: auto;
    font-size: 14px; }

@media screen and (max-width: 1024px) {
  .process-2 .process__wrap {
    margin-top: 75px; } }

@media screen and (max-width: 480px) {
  .process__general__gray .feria__title_general .feria__title h3 {
    color: #808285;
    font-size: 20px; }
  .process__general__gray .feria__title_general .feria__title:before {
    background: #808285;
    width: 20px; }
  .process__general__gray .feria__title_general .feria__title:after {
    background: #808285;
    width: 20px; }
  .process-2 .process__wrap {
    margin-bottom: 180px; } }

.general__input__inside__container {
  margin-left: 14px; }

.general__input--check--radio--label {
  margin: 0; }

.form_box__check {
  font-size: 11px;
  color: #808285; }
  .form_box__check a {
    color: #d9272d; }
  .form_box__check input {
    display: inline-block; }
  .form_box__check label {
    display: inline-block; }
  .form_box__check #tyc-error {
    display: block; }
  .form_box__check #politicas-error {
    display: block; }

.form_box__check {
  display: inline-block; }

.process-3 .steps__tree.active {
  background: #d9272d; }

.form__box__input3 {
  margin-bottom: 20px; }

.form__box__input3 .general__input__text a {
  color: #d9272d; }

.process-3 .process__wrap {
  margin-bottom: 275px;
  padding-left: 15px;
  padding-right: 15px; }

.formError .formErrorContent {
  background: #d9272d; }

.formError .formErrorArrow div {
  background: #d9272d; }

@media screen and (max-width: 485px) {
  .steps {
    margin-top: 50px; }
  .process__wrap {
    margin-bottom: 80px; }
  .form_box__check label {
    display: inline; } }

.thanks__wrapp {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px; }

.thanks__box h2 {
  font-size: 35px;
  color: #d9272d;
  font-family: "Open Sans Bold", sans-serif;
  text-transform: uppercase; }

.thanks__box h3 {
  font-size: 35px;
  color: #808285;
  font-family: "Open Sans Bold", sans-serif; }

.thanks__box p {
  font-family: "Open Sans regular", sans-serif;
  color: #d9272d; }

.thanks__button {
  margin-top: 20px; }
  .thanks__button a {
    color: white;
    background: #d9272d;
    padding: 10px 28px;
    border-radius: 18px; }

@media screen and (max-width: 980px) {
  .thanks__box h2 {
    font-size: 30px;
    color: #d9272d;
    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase; }
  .thanks__box h3 {
    font-size: 30px;
    color: #808285;
    font-family: "Open Sans Bold", sans-serif; }
  .thanks__box p {
    font-family: "Open Sans regular", sans-serif;
    color: #d9272d; } }

@media screen and (max-width: 480px) {
  .thanks__wrapp {
    height: 560px; }
  .thanks__box h2 {
    font-size: 25px;
    color: #d9272d;
    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase; }
  .thanks__box h3 {
    font-size: 25px;
    color: #808285;
    font-family: "Open Sans Bold", sans-serif; }
  .thanks__box p {
    font-family: "Open Sans regular", sans-serif;
    color: #d9272d; } }

.galery {
  margin-top: 40px; }

.galery__box__img {
  width: 100%;
  background-size: cover;
  height: 100%;
  border-radius: 20px;
  background-repeat: no-repeat; }
  .galery__box__img img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%; }

.favorite__image {
  height: 415px;
  width: 98%; }

.mini-image {
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2px;
  margin-top: 15px; }
  .mini-image a {
    display: block;
    width: 18%;
    margin: 0;
    margin-left: 14px;
    margin-top: 15px; }

.galery__box__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.galery__box__minis--favorite {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.galery__box__minis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.galery__grilla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.galery__wrapp {
  max-width: 1200px;
  margin: auto; }

.galery__title__inst {
  margin-top: 70px; }
  .galery__title__inst .feria__title {
    margin-bottom: 15px; }

.instagra__img {
  width: 160px;
  height: 150px;
  max-width: 100%; }

.instagram__slider__item img {
  max-width: 100%;
  height: auto; }

.instragram__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 418px;
  max-width: 100%; }

.intagram__slider img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.galery__box__slider {
  width: 50%;
  max-width: 100%; }

.galery__box__group--inst {
  width: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.galery__box__inst {
  width: 100%;
  position: relative; }

.galery_tittle__inst {
  padding: 10px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 30px; }
  .galery_tittle__inst h3 {
    color: white;
    font-size: 30px; }

.galery__inst__ico {
  position: absolute;
  top: 0;
  right: 80px;
  bottom: 0;
  top: 0;
  font-size: 54px;
  color: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.galery__title__inst {
  margin-bottom: 90px; }

@media screen and (max-width: 980px) {
  .galery__box__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .galery__box__img {
    width: 100%;
    height: 93%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .mini-image {
    width: 100%; }
  .mini-image a {
    width: 31%;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .mini-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 550px) {
  .feria__title_general .feria__title h3 {
    font-size: 24px; }
  .mini-image a {
    width: 47%; } }

.terms-condition__wrap {
  max-width: 628px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .terms-condition__wrap .feria__title_general {
    margin-top: 55px; }

.terms_box__text p {
  font-size: 12px;
  color: #808285;
  text-align: justify;
  line-height: 1.6; }

.terms_box__text a {
  font-size: 12px;
  color: #808285;
  text-align: justify;
  line-height: 1.6; }

.terms_box__text {
  margin-top: 34px; }

.terms-condition__content {
  margin-bottom: 80px; }

@media screen and (max-width: 480px) {
  .terms-condition__wrap .feria__title_general .feria__title h3 {
    font-size: 20px; } }

.capacitacion {
  margin-top: 140px;
  margin-bottom: 135px; }

.capacitacion__img {
  width: 170px;
  height: auto;
  max-width: 100%; }
  .capacitacion__img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 1px 4.9px 9px 0 rgba(0, 0, 0, 0.31);
            box-shadow: 1px 4.9px 9px 0 rgba(0, 0, 0, 0.31); }

.capacitacion__cont__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-top: 80px; }

.no-requiere {
  position: absolute;
  bottom: -30px;
  right: 20px;
  color: #DE0000; }

.capacitacion__info__talleres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1050px;
  margin: auto;
  margin-top: 50px;
  position: relative; }

.capacitadores__title {
  text-align: center;
  margin-top: 85px; }
  .capacitadores__title h3 {
    font-size: 25px;
    font-family: "Open Sans Bold", sans-serif;
    color: #808285;
    text-transform: uppercase; }

.icon__talleres__img {
  max-width: 100%;
  width: 90px;
  margin: auto;
  height: auto; }
  .icon__talleres__img img {
    max-width: 100%;
    width: 100%;
    height: auto; }

.capacitacion__descp__title {
  position: relative; }
  .capacitacion__descp__title:before {
    content: "";
    bottom: 0;
    height: 3px;
    width: 17px;
    background: red;
    position: absolute; }

.box__capacitacion__talleres {
  width: 49%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.icon__talleres {
  width: 30%; }

.boxes__tallares__item {
  padding-right: 15px;
  padding-left: 15px;
  width: 70%; }
  .boxes__tallares__item h3 {
    font-size: 20px;
    font-family: "Open Sans Bold", sans-serif;
    color: #808285;
    line-height: 1.3; }
  .boxes__tallares__item p {
    font-size: 14px;
    font-family: "Open Sans regular", sans-serif;
    color: #808285;
    font-weight: lighter; }
  .boxes__tallares__item h4 {
    font-size: 10px;
    color: #DE0000; }

.capacitacion__wrapp {
  max-width: 1200px;
  margin: auto; }

.capacitacion__box__gral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex;
      -ms-flex-align: flex;
          align-items: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.capacitacion__descp {
  margin-top: 14px; }
  .capacitacion__descp p {
    font-size: 14px;
    color: #808285;
    font-family: "Open Sans regular", sans-serif;
    font-weight: lighter; }

.capacitacion__descp__title {
  padding-bottom: 14px; }
  .capacitacion__descp__title h2 {
    font-size: 20px;
    margin: auto;
    color: #808285; }
  .capacitacion__descp__title h3 {
    font-size: 20px;
    margin: auto;
    color: #808285; }

.capacitacion__box__text {
  padding-left: 20px; }

.capacitacion__box__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  padding-left: 15px;
  padding-right: 15px; }

.cronograma__item {
  display: inline-block;
  margin-left: 13px;
  margin-bottom: 50px;
  border: 1px solid red;
  padding-top: 14px;
  width: 20%;
  padding-right: 67px;
  padding-left: 14px;
  padding-bottom: 32px;
  border-radius: 20px; }
  .cronograma__item h2 {
    font-size: 15px;
    margin: auto;
    font-family: "Open Sans it", sans-serif;
    color: #808285; }
  .cronograma__item h3 {
    font-size: 15px;
    margin: auto;
    padding-top: 10px;
    font-weight: 200;
    max-width: 190px;
    margin-left: 0;
    color: #808285;
    font-family: "Open Sans it", sans-serif; }
  .cronograma__item span {
    height: 3px;
    width: 32px;
    background: red;
    display: block;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 13px; }
  .cronograma__item p {
    font-size: 15px;
    margin: auto;
    color: #808285;
    font-family: "Open Sans regular", sans-serif; }

.cronograma {
  margin-top: 64px; }

.cronograma__cont__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.conograma__calendar__ctn {
  text-align: center; }
  .conograma__calendar__ctn h3 {
    font-size: 34px;
    color: #808285;
    margin-top: 30px;
    margin-bottom: 35px; }

.buttoon__dowload {
  text-align: center;
  margin-bottom: 56px;
  margin-top: 45px; }
  .buttoon__dowload a {
    background: #DA2731;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px; }

.button__general__info__box h3 {
  font-size: 20px;
  color: white; }

.cronograma__title h3 {
  font-size: 30px; }


  /* PAGE CRONOGRAMA */


  .table-container {
    margin-top: 200px;
    width: 100%;
  }

  .table-cocina-demo {
    margin: 150px auto;
    width: 90%;
  }

  .table-cocina-corporativa {
    width: 90%;
    margin: 150px auto;
  }

  .table-eventos {
    width: 90%;
    margin: 150px auto;
  }
  .table-conferencias {
    width: 90%;
    margin: 150px auto;
  }
th, td {
  border: solid 1px black;
  padding: 20px;
}

th {
  background: #da272e;
  color: white;
  border-bottom: solid 5px #da272e;
  font-weight: bold;
}

tr:nth-child(even) {
  background: #ddd;
}

tr:hover td {
  background: #d69e4f;
  color:white;
}

@media screen and (max-width: 1024px) {
  .capacitacion {
    margin-bottom: 170px; } }

@media screen and (max-width: 980px) {
  .box__capacitacion__talleres {
    width: 85%; }
  .capacitacion__info__talleres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px; }
  .capacitacion__box__wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .capacitacion__descp__title {
    text-align: center; }
  .capacitacion__descp__title:before {
    content: "";
    bottom: 0;
    right: 0;
    height: 3px;
    width: 17px;
    background: red;
    position: absolute;
    left: 0;
    margin: auto; }
  .capacitacion__box__text {
    padding-left: 0; }
  .capacitacion__box__text {
    padding-top: 20px; }
  .capacitacion__descp {
    text-align: center; }
  .feria__title_general .feria__title:after {
    display: none; }
  .feria__title_general .feria__title:before {
    display: none; } }

@media screen and (max-width: 550px) {
  .icon__talleres {
    width: 100%; }
  .capacitacion {
    margin-bottom: 100px; }
  .capacitacion__box__gral {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .capacitacion__cont__items {
    width: 100%; }
  .capacitacion__title .feria__title h3 {
    font-size: 25px; }
  .capacitacion__cont__items {
    padding-top: 50px; }
  .cronograma__title .feria__title h3 {
    font-size: 25px; }
  .conograma__calendar__ctn h3 {
    font-size: 25px; }
  .box__capacitacion__talleres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .boxes__tallares__item {
    text-align: center;
    margin-top: 30px; }
  .boxes__tallares__item {
    width: 100%; }
  .capacitadores__title h3 {
    font-size: 20px; } }

.auspiciadores {
  margin-top: 125px; }

.auspiciadores__img {
  width: 19%;
  height: auto;
  max-width: 100%;
  margin-top: 14px;
  margin: 4px; }
  .auspiciadores__img img {
    max-width: 100%;
    width: 100%;
    display: block; }

.auspiciadores__wrapp {
  max-width: 980px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px; }

.auspiciadores__logo__box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 768px) {
  .auspiciadores__img {
    width: 32%; }
  .auspiciadores__logo__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
